<!doctype html>
<html lang="ar">

<head>
  <title>KellyVsServices</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!---------css link-->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="font-awesome-4.7.0/fonts/fontawesome-webfont.eot">
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<!----navbar------->

<body>
  <nav class="navbar navbar-expand-lg bg-white text-color">
    <div class="container">
      <h1 class="navbar-brand main-color" href="#">KellysVAServices</h1>
      <button type="submit" class="btn  my-2 l-auto login-btn px-4 py-2"><svg xmlns="http://www.w3.org/2000/svg"
          width="16" height="16" fill="currentColor" class="bi bi-person mx-1" viewBox="0 0 16 16">
          <path
            d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
        </svg>login</button>
    </div>
  </nav>
  <div class="container-fluid banner-image text-white d-flex align-items-center vh-100">
    <div class="banner-content">
      <h1 style="font-family: Gilroy-Bold;">Are you looking for a professional and dedicated virtual assistants?</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sollicitudin ante risus, vitae lacus bibendum
        amet.Commodo odio vestibulum.</p>
      <button type="button" class="btn bg-white btn-one-banner main-color btn-lg mr-2 border rounded">Yes, Get
        Started</button>
      <button type="button" class="btn btn-two-banner btn-lg border rounded">Schedule A Discovery Call - Its
        FREE</button>
    </div>
  </div>

  <!--------cards-->
  <div class="bg-color-card py-5">
    <h2 class="text-center font-weight-bold my-4">What We Can Help You With</h2>
    <div class="container">
      <div class="container-cust-width">
        <div class="row">
          <div class="col-6 col-md-3 col-lg-3">
            <div class="bg-white h-100 shadow">
              <div class="card-body text-center">
                <img src="images/dataentry.svg">
                <h5>Data Entry</h5>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-3 col-lg-3">
            <div class="bg-white h-100 shadow">
              <div class="card-body text-center">
                <img src="images/ri_customer-service-2-fill.svg">
                <h5 class="mt-4">Customer Support</h5>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-3 col-lg-3">
            <div class="bg-white h-100 shadow">
              <div class="card-body text-center">
                <img class="mt-2" src="images/Vector.svg">
                <h5 class="mt-4">Content Writing</h5>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-3 col-lg-3">
            <div class="bg-white h-100 shadow">
              <div class="card-body text-center">
                <img src="images/fa-solid_thumbs-up.svg">
                <h5 class="mt-3">Social Media <br> Manager</h5>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-3 col-lg-3 mt-3">
            <div class="bg-white h-100 shadow">
              <div class="card-body text-center">
                <img src="images/dashicons_email.svg">
                <h5>Email Handling</h5>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-3 col-lg-3 mt-3">
            <div class="bg-white h-100 shadow">
              <div class="card-body text-center">
                <img src="images/bi_calendar-event-fill.svg">
                <h5 class="mt-3">Calender <br> Management</h5>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-3 col-lg-3 mt-3">
            <div class="bg-white h-100 shadow">
              <div class="card-body text-center">
                <img src="images/whh_website.svg">
                <h5 class="mt-4">Web Research</h5>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-3 col-lg-3 mt-3">
            <div class="bg-white h-100 shadow">
              <div class="card-body text-center">
                <img src="images/majesticons_clipboard-list.svg">
                <h5 class="mt-3">Ad Posting</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!---------3 cards with image-->

  <h2 class="text-center my-4 py-2 font-weight-bold my-4">Packages We Offer</h2>
  <div class="container mb-5 text-center">
    <div class="container-cust-width">
      <div class="row">
        <div class="col-6 col-md-4 col-lg-4">
          <div class="custom-card shadow-lg">
            <img src="images/Rectangle 4.svg" class="card-img-top image-resize" alt="...">
            <div class="card-body">
              <h5 class="card-title starter-heading text-center mb-0">Starter Packages</h5>
              <p class="number-large mb-0">80</p>
              <p class="text-center">hours/month</p>
              <p class="dollar-number">$1360</p>
              <p class="hour-number">$17 per hour</p>
              <p class="fw-light text-center p-content">Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem </p>
              <button type="button" class="btn btn-color btn-lg">SELECT</button>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4">
          <div class="custom-card shadow-lg">
            <img src="images/Rectangle 4.svg" class="card-img-top image-resize" alt="...">
            <div class="card-body">
              <h5 class="card-title mb-0 starter-heading ">Starter Packages</h5>
              <p class="number-large mb-0">80</p>
              <p>hours/month</p>
              <p class="dollar-number">$1360</p>
              <p class="hour-number">$17 per hour</p>
              <p class="fw-light text-center p-content">Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem </p>
              <button type="button" class="btn btn-color btn-lg">SELECT</button>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4">
          <div class="custom-card shadow-lg">
            <img src="images/Rectangle 4.svg" class="card-img-top image-resize" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center starter-heading  mb-0">Starter Packages</h5>
              <p class="number-large mb-0">80</p>
              <p class="text-center">hours/month</p>
              <p class="dollar-number">$1360</p>
              <p class="hour-number">$17 per hour</p>
              <p class="fw-light text-center p-content">Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem </p>
              <button type="button" class="btn btn-color btn-lg">SELECT</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!---------why choose us-->
  <div class="bg-color-card py-5">
    <h2 class="text-center font-weight-bold my-4">Why Choose Us</h2>
    <div class="container">
      <div class="container-cust-width">
        <div class="row">
          <div class="col-6 col-md-4 col-lg-4">
            <div class="bg-white h-100">
              <div class="card-body text-center">
                <i class="fa fa-3x p-3 fa-archive main-color" aria-hidden="true"></i>
                <h5 class="font-weight-bold">D<strong>ata Entry </strong></h5>
                <p>Dedicated Account Manager to<br> ensure your virtual assistant is<br> completing daily tasks</p>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-4">
            <div class="bg-white h-100">
              <div class="card-body text-center">
                <i class="fa fa-3x p-3 fa-archive main-color" aria-hidden="true"></i>
                <h5><strong>Customer Support </strong> </h5>
                <p>We are always vailable 24 hours a day,<br> 7 days a week</p>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-4 col-lg-4">
            <div class="bg-white h-100">
              <div class="card-body text-center">
                <i class="fa fa-3x p-3 fa-archive main-color" aria-hidden="true"></i>
                <h5><strong>Content Writing</strong> </h5>
                <p>We speak both English & Dutch<br> Languages</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!------Feedback Page----->
  <div class="bg-white py-5">
    <h2 class="text-center font-weight-bold my-4">What People Have to Say About us</h2>
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-4 col-lg-4">
          <div class="bg-white h-100 shadow">
            <div class="card-body p-4">
              <img src="images/Ellipse 33.jpg"><img class="m-2" src="images/Group 72.jpg">
              <p class="text-muted mt-2">Dedicated Account Manager to<br> ensure your virtual assistant is<br>
                completing daily tasks</p>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4">
          <div class="bg-white h-100 shadow">
            <div class="card-body p-4">
              <img src="images/Ellipse 33.jpg"><img class="m-2" src="images/Group 72.jpg">
              <p class="text-muted mt-2">Dedicated Account Manager to<br> ensure your virtual assistant is<br>
                completing daily tasks</p>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4">
          <div class="bg-white h-100 shadow">
            <div class="card-body p-4">
              <img src="images/Ellipse 33.jpg"><img class="m-2" src="images/Group 72.jpg">
              <p class="text-muted mt-2">Dedicated Account Manager to<br> ensure your virtual assistant is<br>
                completing daily tasks</p>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 mt-3">
          <div class="bg-white h-100 shadow">
            <div class="card-body p-4">
              <img src="images/Ellipse 33.jpg"><img class="m-2" src="images/Group 72.jpg">
              <p class="text-muted mt-2">Dedicated Account Manager to<br> ensure your virtual assistant is<br>
                completing daily tasks</p>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-4 mt-3">
          <div class="bg-white h-100 shadow">
            <div class="card-body p-4">
              <img src="images/Ellipse 33.jpg"><img class="m-2" src="images/Group 72.jpg">
              <p class="text-muted mt-2">Dedicated Account Manager to<br> ensure your virtual assistant is<br>
                completing daily tasks</p>
            </div>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 mt-3">
          <div class="bg-white h-100 shadow">
            <div class="card-body p-4">
              <img src="images/Ellipse 33.jpg"><img class="m-2" src="images/Group 72.jpg">
              <p class="text-muted mt-2">Dedicated Account Manager to<br> ensure your virtual assistant is<br>
                completing daily tasks</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!------FAQ------->
  <div class="bg-color-card py-5">
    <h2 class="text-center font-weight-bold my-4">Frequently Asked Question</h2>
    <div class="container">
      <div class="container-cust-width">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button main-color" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Lorem ipsum dolor set amit del partido fil deeom loves lawan?
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>This is the first item's accordion body.</strong> It is hidden by default, until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
                within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed main-color" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Lorem ipsum dolor set amit del partido fil deeom loves lawan?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
                within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed main-color" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Lorem ipsum dolor set amit del partido fil deeom loves lawan?
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
                within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>






  <!------About us------->
  <div class="bg-color-card py-5">
    <h2 class="text-center font-weight-bold my-4">About Us</h2>
    <div class="container">
      <div class="container-cust-width abt-content">
        <p class="abt-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum gravida eu id risus.
          A, dictum commodo pretium amet ultrices. At tristique scelerisque proin amet ultricies. Nibh pellentesque
          felis, nulla massa ac. Amet ut magnis dui, vitae quis habitant turpis. In aliquam pellentesque egestas
          malesuada viverra purus.
        </p>
        <p class="abt-content"> Vitae, quam quis et sed. Sagittis, orci amet, integer tortor. At lacinia suspendisse
          faucibus at massa tellus fusce duis. At quis libero, mattis eu. Turpis et hendrerit ornare dui justo. Sed
          nulla non et ipsum, aliquet. Lectus tellus ac at dui. Sem quis duis imperdiet auctor. Sit sagittis molestie
          pellentesque in habitasse pulvinar ultrices. Aliquet diam ultricies facilisi eleifend aliquam eu, ut velit
          erat.
          Bibendum magna sagittis, in dolor vitae ultrices dictum vel. Integer etiam est, tellus sed lobortis. At ornare
          est, lectus nisl turpis..</p>
        <img src="images/Group 1788.jpg" class="w-100">
        <!-- <div class="play-btn">
          <img src="images/circle-check.svg" class="image-fluid">
         </div>  -->
      </div>
    </div>
  </div>

  <!-----contact us------->
  <div class="bg-color-card py-5">
    <h2 class="text-center font-weight-bold my-4">Contact us</h2>
    <div class="container">
      <div class="container-cust-width">
        <div class="row">
          <div class="col-6 col-md-6 col-lg-6">
            <div class="row">
              <form>
                <div class="form-group">
                  <label for="formGroupExampleInput2">Full Name</label>
                  <input type="text" class="form-control mt-2" id="formGroupFullName"
                    placeholder="Enter your full Name">
                </div>
                <div class="form-group">
                  <label class="mt-2" for="formGroupExampleInput">Email Address</label>
                  <input type="text" class="form-control mt-2" id="exampleInputEmail1" placeholder="Email Address">
                </div>
                <div class="form-group">
                  <label class="mt-2" for="formGroupExampleInput2">Where did you hear about us</label>
                  <input type="text" class="form-control mt-2" id="formGroupaboutus" placeholder="company name">
                </div>
                <div class="form-group">
                  <label class="mt-2" for="exampleFormControlTextarea1">how can we help you</label>
                  <textarea class="form-control mt-2" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-color my-2 w-100">Submit</button>

              </form>
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-6 mt-4">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.5094291681553!2d77.62650934981177!3d12.939220719045469!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae14423887076f%3A0x7e05b19535b77828!2sAttivo%20Networks!5e0!3m2!1sen!2sin!4v1616066515266!5m2!1sen!2sin"
              width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <strong>Address:</strong>
            <p class="map-content p-3">Lorem Ipsum dolor set amit del partdo di
              Imaginary Planet
              Earth, 40100</p>

          </div>
        </div>
      </div>

    </div>
  </div>
  </div>


  <!-------footer-->
  <div class="container-fluid bg-dark text-white p-5">
    <div>
      <h1 class="py-2 footer-heading">KellysVAServices</h1>
    </div>

    <div class="col-6">
      <div class="row">
        <div class="col-4">
          <p class="py-5 footer-sub-heading">Navigate</p>
          <p class="footer-p-tag">Shop</p>
          <p class="footer-p-tag">Contact Us</p>
          <p class="footer-p-tag">Retail Wholesale</p>
        </div>
        <div class="col-4 pt-4 align-self-center">
          <p class="footer-p-tag">Claim Warranty</p>
          <p class="footer-p-tag">Blog</p>

        </div>
        <div class="col-4">
          <p class="py-5 footer-sub-heading">Policies</p>
          <p class="footer-p-tag">Terms & Conditions</p>
          <p class="footer-p-tag">Delivery Policy</p>
          <p class="footer-p-tag">Refund Policy</p>
          <p class="footer-p-tag">Privacy Policy</p>
          <p class="footer-p-tag">Affiliate Disclosure</p>
        </div>

      </div>
    </div>
  </div>
  <div class="container-fluid bg-color py-4">
    <div class="row">
      <div class="col-4 ml-5">
        <i class="fa fa-twitter fa-2x text-white px-2 " aria-hidden="true"></i>
        <i class="fa fa-facebook-official fa-2x text-white  px-2" aria-hidden="true"></i>
        <i class="fa fa-rss fa-2x text-white  px-2" aria-hidden="true"></i>
        <i class="fa fa-instagram fa-2x text-white  px-2" aria-hidden="true"></i>
      </div>
      <div class="col-8">
        <p class="text-white text-center">COPYRIGHT 2020 - TERMS & CONDITIONS PRIVACY POLICY</p>
      </div>
    </div>
  </div>

  <h6 class="copyright">COPYRIGHT 2020 - TERMS & CONDITIONS PRIVACY POLICY</h6>

  </div>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
</body>


</html>